@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*general*/
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.container{
    width: 75%;
    margin: auto;
}
.container1{
    width: 50%;
    margin: auto;
}
a{
    text-decoration: none;
}



/*start header*/
.header{
    background-color: #18113c;
    height: 100vh;
    overflow: hidden;
}
.header .navbar .logo{
    float: left;
    width: 15%;
    padding-top: 23px;
}
.header .navbar .logo img{
    width: 70%;
    cursor: pointer;
}
.header .navbar .menu{
    float: left;
    width: 70%;
    color:#beb9cd;
}
.header .navbar .menu li{
    display: inline-block;
    padding-top: 10px;
    margin-right: 15px;
}
.header .navbar .menu li i{
    font-size: 9px;
    margin-left: 4px;
    color: #79758f;
    padding-bottom: 20px;
    margin-top: 25px;
}
.header .navbar .menu li a{
    color:#beb9cd;
    font-family:  sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 32px;
}

.header .navbar .nav{
    float: left;
    width: 15%;
    padding-top: 16px;
}
.header .navbar .nav button{
    color: #fff;
    background-color: #754FFE;
    font-family:  sans-serif;
    font-size: 14px;
    font-weight: 500;
    width:68%;
    height: 48px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 43px;
}
.header .navbar .nav button:hover{
    background-color: #6343d8;
}


.header .head-content .content{
    float:left;
    width:38%;
    margin-top: 150px;
}
.header .head-content .content h2{
    color:#fff;
    font-size: 57px;
    font-family:  sans-serif;
    letter-spacing: -1px;
    word-spacing: -2px;
    line-height: 75px;
}
.header .head-content .content p{
    font-family:  sans-serif;
    font-size: 20px;
    line-height: 30px;
    color:#FFFFFF80;
    margin-top: 12px;
    font-weight: 400;
}
.header .head-content .content span{
    color: #ffaa46;
}
.header .head-content .content button{
    color: #fff;
    background-color:#754ffe;
    font-family:  sans-serif;
    font-size: 15px;
    width:38%;
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: 500;
}
.header .head-content .content button:hover{
    background-color: #6343d8;
}
.header .head-content .img{
    float:left;
    width:35%;
    margin-left: 45px;
    margin-top: 55px;
}


/*Dark*/
.dark{
    background-color: #18113c;
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: -1px; 
}
 .dark .dark-part{
    float: left;
    width: 15%;
    margin-left: -10px;
}
.dark .dark-part h3{
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 5px;
    letter-spacing: -1px;
}
.dark .dark-part p{
    color: #FFFFFF80;
    font-family: sans-serif;
    font-size: 15px;

}
/*End header*/


/* start Pages*/
.pages{
    padding-top: 150px;
    overflow: hidden;
}
.pages .page{
    float:left;
    width:48%;
    border-color: #ecebf1;
    border-width: 1px;
    border-style:solid;
    border-radius: 12px;
    box-sizing: border-box;
}
.pages .left{
    margin-left: 40px;
}
.pages .top{
    margin-bottom: 150px;
}
.pages .page img{
    width: 90%;
    margin-left: 25px;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: -40px;
    box-shadow:0 3px 2px rgb(3 0 71 / 2%), 0 3px 6px rgb(3 0 71 / 4%), 0 5px 8px rgb(3 0 71 / 6%), 0 15px 20px rgb(3 0 71 / 10%);;
    
}
.pages .page h3{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color:#18113c;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 15px;
}
.pages .page h3:hover{
    color:#5e3fcb;
}
.pages .page p{
    width: 95%;
    font-size: 20px;
    font-weight: 400;
    color: #5C5776;
    font-family: 'Inter', sans-serif;
    letter-spacing: -.8px;
    margin-bottom: 32px;
    line-height: 35px;
}
.pages .page .border{
    width: 78%;
    margin: auto;
    border-bottom-color:#e8e7ed;
    border-bottom-style:solid ;
    border-bottom-width: 1px;
    margin-bottom: 30px;
}
.pages .page button{
    width:78%;
    height: 50px;
    background-color: #fff;
    color: #754ffe;
    border-color: #754ffe;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 60px;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
}
.pages .page button:hover{
    color: #fff;
    background-color:#754ffe ;
}
/*end pages*/


/*start components*/
.components{
    background-color: #18113c;
    border-radius: 10px;
    margin-top: 170px;
    margin-bottom: 50px;
    text-align: center;
}
.components h1{
    padding-top: 110px;
    color: #fff;
    font-family: Inter,"sans-serif";
    font-weight: 600;
    margin-bottom: 20px
}
.components p{
    font-size: 19px;
    width: 60%;
    margin: auto;
    color: #5C5776;
    margin-bottom: 50px;
    line-height: 32px;
    font-family:Inter,"sans-serif" ;
}
.components img{
    margin-left: 15px;
    width: 9.5%;
}
.components button{
    color:#fff;
    background-color: #754FFE;
    width: 17%;
    height: 48px;
    margin-bottom: 100px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter,"sans-serif";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}
.components button:hover{
    background-color: #6343d8;
}
/*End components*/



/*start features*/
.features{
    margin-top: 200px;
    overflow: hidden;
}
.features .features-items .item{
    float:left;
    width: 50%;
}
.features .features-contents h1{
    font-family:Inter,"sans-serif";
    font-size: 32px;
    color: #18113c;
    font-weight: 900;
    margin-bottom: 20px;
}
.features .features-contents p{
    font-family:Inter,"sans-serif";
    color:#5C5776 ;
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 30px;
    letter-spacing: -.5px;
}
.features .features-items .item h2{
    font-family:Inter,"sans-serif";
    color: #18113c;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 20px;
}
.features .features-items .item p{
    width: 95.5%;
    font-family:Inter,"sans-serif";
    font-size: 14px;
    color: #5c5776;
    margin-bottom: 60px;
    font-weight: 400;
    line-height: 22px;
}
.features .features-items .item p a{
    color: #754FFE;
}
.features .features-items .item p a:hover{
    color: #5e3fcb;
}
/*End features*/

/*Start footer*/
.footer .content{
    background-color: #F5F4F8;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 160px;
    margin-bottom: 150px;
}
.footer .content .cont1{
    float:left;
    width: 60%;
    margin-left: 60px;
}
.footer .content .cont2{
    float: left;
    width: 30%;
}
.footer .content .cont1 h2{
    color: #18113c;
    font-size: 32px;
    padding-top: 70px;
    font-family:Inter,"sans-serif";
    margin-bottom: 15px;
}
.footer .content .cont1 p{
    color: #5C5776;
    font-family:Inter,"sans-serif";
    font-size: 20px;
    padding-bottom: 70px;
    font-weight: 400;
    line-height: 30px;
    word-spacing: -3px;
}
.footer .content .cont2 button{
    color: #fff;
    font-family:Inter,"sans-serif";
    font-weight: 600;
    letter-spacing: .5px;
    background-color: #754FFE;
    border: none;
    border-radius: 5px;
    width: 58%;
    height:48px;
    margin-top: 120px;
    margin-left: 54px;
}
.footer .content .cont2 button:hover{
    background-color: #6343d8;
}

.footer .logo{
    text-align: center;
}
.footer .logo p{
    color: #5c5776;
    font-family:Inter,"sans-serif";
    line-height: 22px;
    width: 80%;
    margin: auto;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 60px;
}
  

.footer-second{
    font-family:Inter,"sans-serif";
    margin-bottom: 70px;
    overflow: hidden;
    color:#5c5776 ;
    font-size: 14px;
    margin-left: 10px;
}
.footer-second .para{
    float: left;
    width: 70%;
}
.footer-second ul{
    float: left;
    width: 30%;
}
.footer-second ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer-second ul li a{
    color:#5c5776 ;
}
.footer-second p a ,.footer-second ul li a:hover{
    color: #754ffe;
}
.footer-second p a:hover{
    color: #5e3fcb;
}
/*End footer*/




/*start media*/
@media screen and (max-width:576px){
    .container,.container1{
        width: 88%;
        margin: auto;
    }
    /*Header*/
    .header{
        height: fit-content;
    }
    .header .navbar .logo{
        float: none;
        margin: auto;
        width: 60%;
        margin-left: 89px;
    }
    .header .navbar .menu{
        float: none;
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
    .header .navbar .nav{
        float: none;
        width: 60%;
        margin:auto;
        padding-right: 40px;
    }
    .header .navbar .menu li{
        margin-right: 8px;
    }
    .header .navbar .menu li a{
        font-size: 10px;
    }
    .header .navbar .menu li i{
        margin-left: 1px;
    }

    .header .head-content .content{
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
    .header .head-content .img{
        float: none;
        text-align: center;
        width: 100%;
    }
    .header .head-content .content button{
        width: 45%;
    }
    .header .head-content .img img{
        float: none;
        width: 100%;
        margin-left: -80px;
    }
 
    /*Dark*/
    .dark{
        margin-top: -3px;
    }
    .dark .dark-part{
        float: none;
        margin: auto;
        text-align: center;
        width: 80%;
        padding-top: 30px;
    }
    /*End header*/


    /*start pages*/
    .pages{
        padding-top: 100px;
    }
    .pages .page{
        float: none;
        width: 95%;
        margin: auto;
        margin-bottom: 140px;
    }
    .pages .page img{
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .pages .page p{
        line-height: 30px;
    }
    .pages .page .border{
        width: 88%;
    }
    .pages .page button{
        width: 88%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    /*end pages*/


    /*start components*/
    .components h1{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .components p{
        width: 85%;
    }
    .components img{
        width: 40%;
        margin-left: 0;
    }
    .components .photo{
        width:95%;
        margin: auto;
    }
    .components button{
        width: 60%;
    }
    /*End components*/


    /*start features*/
    .features{
        margin-top: 150px;
    }
    .features .features-items .item{
        float: none;
        width: 100%;
    }
    /*end features*/


    /*Start footer*/
    .footer .content{
        margin-top: 100px;
        margin-bottom: 80px;

    }
    .footer .content .cont2{
        width: 60%;
    }
    .footer .content .cont1 p{
        padding-bottom: 20px;
    }
    .footer .content .cont2 button{
        margin-top: 0;
        margin-bottom: 60px;
    }

    .footer .logo p{
        width: 100%;
    }

    .footer-second .para{
        float: none;
        width: 110%;
        margin-bottom: 15px;
    }
    .footer-second ul{
        float: none;
        width: 100%;
    }
    /*End footer*/
}



@media (min-width:576px) and (max-width:992px){
    .container,.container1{
        width: 90%;
        margin: auto;
    }
    /*satrt header*/
    .header{
        height: fit-content;
    }
    .header .navbar .logo{
        float: none;
        margin: auto;
        width: 40%;
        padding-left: 70px;
    }
    .header .navbar .menu{
        float: none;
        text-align: center;
        width: 100%;
    }
    .header .navbar .nav{
        float: none;
        width: 40%;
        margin:auto;
    }
    .header .navbar .menu li{
        margin-right: 15px;
    }
    .header .navbar .menu li a{
        font-size: 20px;
    }
    .header .navbar .menu li i{
        margin-left: 1px;
        font-size: 18px;
    }

    .header .head-content .content{
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 60px;
    }
    .header .head-content .content h2{
        width: 80%;
        margin: auto;
    }
    .header .head-content .img{
        float: none;
        text-align: center;
        width: 100%;
    }
    .header .head-content .content button{
        width: 45%;
    }
    .header .head-content .img img{
        float: none;
        width: 100%;
        margin-left: -80px;
    }

     /*Dark*/
    .dark .dark-part{
        width: 30%;
        padding-top: 20px;
    }
    /*End header*/


     /*start pages*/
     .pages{
        padding-top: 100px;
    }
    .pages .page{
        float: none;
        width: 95%;
        margin: auto;
        margin-bottom: 140px;
    }
    .pages .page img{
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .pages .page p{
        line-height: 30px;
    }
    .pages .page .border{
        width: 88%;
    }
    .pages .page button{
        width: 88%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    /*end pages*/

    /*start components*/
    .components h1{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .components p{
        width: 90%;
    }
    .components img{
        width: 25%;
        margin-left: 0;
        padding-right: 25px;
    }
    .components .photo{
        width:95%;
        margin: auto;
    }
    .components button{
        width: 30%;
    }
    /*End components*/

     /*Start footer*/
     .footer .content{
        margin-top: 100px;
        margin-bottom: 80px;

    }
    .footer .content .cont2{
        width: 60%;
    }
    .footer .content .cont1 p{
        padding-bottom: 20px;
    }
    .footer .content .cont2 button{
        margin-top: 0;
        margin-bottom: 60px;
        width: 50%;
    }


    .footer .logo p{
        width: 100%;
    }

    .footer-second{
        width: 110%;
    }
    .footer-second .para{
        width: 50%;
    }
    .footer-second ul{
        width: 50%;
    }
    /*End footer*/
}


@media (min-width:992px) and (max-width:1300px){
    .container{
        width: 90%;
        margin: auto;
    }
    .container1{
        width: 60%;
    }
    /*header*/
    .header{
        height: fit-content;
    }
    /*end header*/

}


